writable/debugbar/*
writable/logs/*.log
writable/sessions/*
writable/session/*
writable/uploads/*
writable/uploads/marcas/*
writable/uploads/parceiros/*
.env


# Ignore node_modules and vendor
node_modules/*
vendor/*