html,
body {
  width: 100%;
  font-size: 16px;
}

.sessao {
  width: 100%;
  padding: 8em 0em;
}

a {
  text-decoration: none !important;
}

.titulo {
  margin-bottom: 2em;
}

.input-group-text {
  background-color: #3A94E8 !important;
}

.form-control {
  border: 1px solid #3A94E8;
  border-radius: 5px;
  padding-left: 1em;
  box-shadow: none;
  height: 50px;
  color: #3A94E8;

  &:focus {
    box-shadow: 0 0 0 0.25rem #4c7faf !important;
  }
}

.accordion-button {
  background-color: $cor_escura_forte;
  color: #f1efea !important;
  border: 1px solid #3A94E8 !important;
}

.accordion-button.collapsed {
  background-color: #f1f0ed !important;
  border: 1px solid #3A94E8 !important;
  color: $cor_escura_forte;
}

.accordion-body {
  color: $cor_escura_forte;
}

.btn-solicitacao {
    &:hover{
    background-color: #343a40 !important;
    color: #fff;
    box-shadow: 0px 0px 10px #fff;
    transition: 0.3s;
  }
}

.bolder{
  font-weight: 700;
}

.hard-title{
  font-size: 2em;

  @media (max-width: 768px){
    font-size: 1.7em;
  }
}

.nav-link{
  padding-bottom: 10px;
  &:hover{
    color: #3A94E8 !important;
    border-bottom:1px solid #4c7faf;
  }
}


.circle-icon{
  background-color: #18509E !important;

  &:hover{
    transition: .8s;
    transform: rotateY(360deg);
  }
}

.hard-title {
  font-weight: 600;
}

.topo-li{
  width: max-content;
}

.btn-saiba-mais{
  background-color: #ee6767 !important;
  transition: .3s;
  border: 1px solid transparent !important;

  &:hover,&:focus, &:focus-visible, &:active{
    background-color: #ED5353 !important;
    transition: .3s;
    border: 1px solid #ED5353 !important;
    box-shadow: none !important;
    outline-offset: none !important;
    outline: none !important;
  }
}

.form-control{
  &:hover,&:active, &:focus, &:focus-visible, &:focus-within{
    box-shadow: none !important;
    border: 1px solid #3A94E8 !important;
    outline: none !important;
  }
}

.g-recaptcha{
  &.border-danger{
    box-shadow: 0px 0px 2px 2px #dc3545 !important;
    margin-bottom: 1em;
  }
}

#whatsapp-flutuante {
  position: fixed;
  content: "";
  right: 5em;
  bottom: 5em;
  // -webkit-filter: drop-shadow(5px 5px 5px #000);
  // filter: drop-shadow(5px 5px 5px #000);
}


@keyframes flash_message {
  0% {
    top: -5em;
    opacity: 0;
  }

  25% {
    top: 0.5em;
    opacity: 1;
  }

  50% {
    top: 0.5em;
    opacity: 1;
  }

  100% {
    top: -5em;
    opacity: 0;
  }
}

.flash-message {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0;
  animation: flash_message 10s;
  z-index: 99999 !important;

  .alert {
    width: max-content;
    text-align: center;
    h5 {
      font-size: 1em;
      line-height: 1.2em;
      strong {
        font-size: 1.2em;
      }
    }
  }
}