html,
body {
  width: 100%;
  font-size: 16px;
}

.sessao {
  width: 100%;
  padding: 8em 0em;
}

a {
  text-decoration: none !important;
}

.titulo {
  margin-bottom: 2em;
}

.input-group-text {
  background-color: #3A94E8 !important;
}

.form-control {
  border: 1px solid #3A94E8;
  border-radius: 5px;
  padding-left: 1em;
  box-shadow: none;
  height: 50px;
  color: #3A94E8;

  &:focus {
    box-shadow: 0 0 0 0.25rem #4c7faf !important;
  }
}

.accordion-button {
  background-color: $cor_escura_forte;
  color: #f1efea !important;
  border: 1px solid #3A94E8 !important;
}

.accordion-button.collapsed {
  background-color: #f1f0ed !important;
  border: 1px solid #3A94E8 !important;
  color: $cor_escura_forte;
}

.accordion-body {
  color: $cor_escura_forte;
}

.btn-solicitacao {
    &:hover{
    background-color: #343a40 !important;
    color: #fff;
    box-shadow: 0px 0px 10px #fff;
    transition: 0.3s;
  }
}

.bolder{
  font-weight: 700;
}

.hard-title{
  font-size: 2em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $cor_escura_forte;

  @media (max-width: 768px){
    font-size: 1.7em;
  }
}