#pagina-principal.pagina-dark {
  background-color: #343a40;
  color: white !important;

  .navbar {
    background-color: #292d31 !important;
    p,
    a,
    h1,
    h2,
    h3,
    h4 {
      color: white !important;
    }
  }

  .home {
    background-image: url("../img/bg-banner.png");
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10em 0 8em 0 !important;
    margin-top: 4em;

    @media (max-width: 1024px){
      background-size: 250%;
      background-position: left center;
    }

    @media (max-width: 767px) {
      padding: 5em 0 4em 0 !important;
      background-position: left bottom;
      background-size: 450%;
    }

    .titulo{
      font-weight: 600;
      font-size: 3em;
      
       @media (max-width: 1024px) {
        font-size: 2em;
      }

      @media (max-width: 767px) {
        color: #fff;
        font-size: 2.5em;
      }
    }

    .descricao{
      font-size: 18px;
      line-height: 1.8em;
      @media (max-width: 768px) {
        color:  #fff;
      }
    }
  }

  .servicos {
    color: white !important;
    background-color: $cor_escura_noite;
  }

  .vantagens {
    color: #3A94E8;
    background-color: $cor_escura_padrao;
  }

  .sobre {
    color: white !important;
    background-color: $cor_escura_noite;
  }

  .duvidas-frequentes {
    color: #3A94E8;
    background-color: $cor_escura_padrao;
  }

  .contato {
    color: white !important;
    background-color: $cor_escura_noite;

    .btn-contato {
      background-color: $cor_amarelo_padrao;
      color: white;

      &:hover {
        background-color: white;
        color: $cor_escura_padrao;
        transition: 0.5s;
      }
    }
  }
  footer {
    background-color: $cor_escura_padrao;

    a {
      color: white;

      &:hover {
        color: $cor_amarelo_escuro;
      }
    }
  }
}


.navbar-light .navbar-toggler{
  border-color: #fff !important;
  
}
.navbar-light .navbar-toggler-icon{
  filter: invert(1);
}