#pagina-principal {
  width: 100%;
  min-height: 100vh;

  .header-menu {
    background-color: white;
    box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.3);

    .navbar-nav {
      .nav-link {
        color: #343a40;
        &:hover {
          color: #3a94e8;
          transition: 0.5s;
        }
        @media (max-width: 800px) {
          .custom-control-label {
            margin-left: 2.3em !important;
          }
        }
      }
    }
  }

  // .home {
  //   background: #343a40;
  //   background-image: url("../img/bg-topo-home.png");
  //   background-position: right center;
  //   background-size: cover;
  //   padding: 2em 0 0em 0 !important;

  //   @media (max-width: 998px) {
  //     padding: 5em 0 2em 0 !important;
  //   }

  //   @media (max-width: 768px) {
  //     padding: 5em 0 !important;
  //     margin-top: 4.5em;
  //   }
  //   .titulo {
  //     color: #3a94e8;
  //   }
  //   .subtitulo {
  //     color: #343a40;
  //   }

  //   .area-contato-topo {
  //     a {
  //       font-size: 30px !important;
  //       color: #3a94e8;
  //       &:hover {
  //         color: $cor_escura_forte;
  //         transition: 0.4s;
  //       }
  //     }
  //   }
  // }

  .home {
    background-image: url("../img/bg-banner.png");
    background-position: right center;
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10em 0 12em 0 !important;

    @media (max-width: 768px) {
      padding: 6em 0 3em 0 !important;
      margin-right: 3em;
    }

    .titulo{
      font-weight: 600;
    }

    .descricao{
      font-size: 16px;
      line-height: 1.8em;
    }
  }

  .servicos {
    background-color: $cor_amarelo_escuro;

    color: white;

    ul {
      li {
        i {
          font-size: 1.5em;
        }
        span {
          font-size: 1.5em;
          margin-left: 1em;
        }
      }
    }
  }

  .vantagens {
    background-color: white;
    color: #3a94e8;

    ul {
      li {
        i {
          font-size: 1.5em;
        }
        span {
          font-size: 1.5em;
          margin-left: 1em;
        }
      }
    }
  }

  .sobre {
    text-align: center;
    background-color: $cor_amarelo_escuro;
    color: white;

    @media (max-width: 800px) {
      text-align: start;
    }

    .figcaption {
      max-width: 100px;
      max-height: 100px;
      min-width: 80px;
      min-height: 80px;
      background-color: white;
      padding: 5px;
      border-radius: 50%;
      text-align: center;

      img {
        width: 90%;
        margin: 0.9em auto;

        &.img-small {
          width: 125% !important;
          margin: 1.7em -10px !important;
        }

        &.img-midium {
          width: 110% !important;
          margin: 1.4em -10px !important;
        }

        &.img-midium-other {
          margin: 2.4em -10px !important;
          width: 100% !important;
        }
      }
    }
  }

  .duvidas-frequentes {
    background-color: white;
    color: #3a94e8;

    .accordion {
      align-self: center;
      .accordion-item {
        margin-bottom: 1em;
      }
    }
  }

  .contato {
    background-color: $cor_amarelo_escuro;
    color: white;

    .btn-contato {
      background-color: white;
      color: $cor_escura_padrao;

      &:hover {
        background-color: $cor_escura_padrao;
        color: white;
        transition: 0.5s;
      }
    }
  }
}

footer {
  .titulo {
    border-bottom: 1px solid grey;
  }

  hr {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5em;
  }

  a {
    font-size: 18px;
    color: $cor_amarelo_escuro;

    &:hover {
      color: $cor_escura_noite;
      transition: 0.3s;
    }

    &.link-social {
      font-size: 30px;
    }
  }
}
