#pagina-principal.pagina-dark {
  color: white !important;

  .navbar {
    background-color: #1a1b1d !important;
    p,
    a,
    h1,
    h2,
    h3,
    h4 {
      color: white !important;
    }
  }

  .home {
    background-image: url("../img/bg-banner.webp");
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10em 0 8em 0 !important;
    margin-top: 3em;

    @media (max-width: 1024px) {
      background-size: 250%;
      background-position: left center;
    }

    @media (max-width: 767px) {
      padding: 5em 0 4em 0 !important;
      background-position: left bottom;
      background-size: 450%;
    }

    .titulo {
      font-weight: 600;
      font-size: 3em;

      @media (max-width: 1024px) {
        font-size: 2em;
      }

      @media (max-width: 767px) {
        color: #fff;
        font-size: 2.5em;
      }
    }

    .descricao {
      font-size: 18px;
      line-height: 1.8em;
      @media (max-width: 768px) {
        color: #fff;
      }
    }
  }

  .servicos {
    text-align: center;
    color: white !important;
    background-image: radial-gradient(
        circle at 90% 46.666666666666664%,
        #00b1c1 0%,
        17.5%,
        rgba(0, 177, 193, 0) 35%
      ),
      radial-gradient(
        circle at 0% 100%,
        rgba(0, 177, 193, 0.99) 0%,
        18.5%,
        rgba(0, 177, 193, 0) 37%
      ),
      radial-gradient(
        circle at 93.66668065388998% 42.66666730244955%,
        #00b1c1 0%,
        12%,
        rgba(0, 177, 193, 0) 40%
      ),
      radial-gradient(
        circle at 48.9013671875% 49.521484375%,
        #18509e 0%,
        100%,
        rgba(24, 80, 158, 0) 100%
      );
  }

  .vantagens {
    color: #3a94e8;
    background-color: $cor_escura_padrao;
  }

  .sobre {
    color: white !important;
    background-color: $cor_escura_noite;
  }

  .duvidas-frequentes {
    background-color: #141515;
    .subtitulo {
      color: #ffffff;
    }

    .descricao {
      color: #f8f8ff;
    }
  }

  .contato {
    background-color: #f8f8ff;
    color: #010101;

    .btn-contato {
      background-color: $cor_amarelo_padrao;
      color: white;

      &:hover {
        background-color: white;
        color: $cor_escura_padrao;
        transition: 0.5s;
      }
    }
  }
  footer {
    padding: 7em 0;
    background-color: #f8f8ff !important;
    color: #010101 !important;

    a {
      color: #010101 !important;

      &:hover {
        color: $cor_amarelo_escuro;
      }
    }
  }
}

.navbar-light .navbar-toggler {
  border-color: #fff !important;
}
.navbar-light .navbar-toggler-icon {
  filter: invert(1);
}

.rodape-inferior {
  background-color: #141515 !important;
}
