$cor_amarelo_padrao: #3A94E8 !important;
$cor_amarelo_claro: #55a7d6 !important;
$cor_amarelo_escuro: #2b7cc7 !important;

$cor_escura_padrao: #343a40 !important;
$cor_escura_forte: #282b2e !important;
$cor_escura_noite: #1a1b1d !important;
